@model bookstore.ViewModels.bookAutherNewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>bookAutherNewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @if (ViewBag.Message != null)
            {
                <h5 class="alert alert-danger">@ViewBag.Message</h5>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descreption" class="control-label"></label>
                <input asp-for="Descreption" class="form-control" />
                <span asp-validation-for="Descreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file" class="control-label"></label>
                <input type = "file" name="file" asp-for="file" class="form-control" />
                <span asp-validation-for="Descreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutherId" class="control-label"></label>
                <select asp-for="AutherId" class="form-control"
                        asp-items="@(new SelectList(Model.Authors, "Id", "FullName"))"></select>
                <span asp-validation-for="AutherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <partial name="_Validation" />
}
